<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender name="Crashlytics" class="com.passwordboss.android.logback.CrashlyticsAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.passwordboss.android" level="ERROR">
        <appender-ref ref="Crashlytics" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="logcat" />
    </root>
</configuration>